*.exe
*.o
*.lo
*.log
*.pyc
*.patch
.deps
.libs
.memdump
COPYING
CVE-*
INSTALL
doc/Makefile
doc/Makefile.in
doc/devhelp/Makefile
doc/devhelp/Makefile.in
doc/examples/.deps
doc/examples/Makefile
doc/examples/Makefile.in
doc/examples/io1
doc/examples/io2
doc/examples/parse1
doc/examples/parse2
doc/examples/parse3
doc/examples/parse4
doc/examples/reader1
doc/examples/reader2
doc/examples/reader3
doc/examples/reader4
doc/examples/testWriter
doc/examples/tree1
doc/examples/tree2
doc/examples/xpath1
doc/examples/xpath2
xstc/xsts-*.tar.gz
